*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'norse-bold', sans-serif;
    src: url('../images/Norse-Bold.otf');
}

body{
    display: flex;
    background-color: #f3f3f3;
}

.background{
    width: 35%;
    height: 100vh;
}

.background img{
    width: 100%;
    height: 100%;
}

.logo{
    width: 35%;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    font-size: 108px;
    position: absolute;
    left: 0;
    top: 25vh;
    text-align: center;
    padding: 25px 0;
}

.head{
    font-family: 'norse-bold', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 37px;
}

.container{
    width: 65%;
    display: flex;
    align-items: center;
}

.head{
    padding-left: 85px;
    width: 100%;
}

.forms{
    width: 100%;
    background: white;
}